$color_1: #1e1e1e;
$color_2: #4a4a4a;
$color_3: #fff;
$color_4: #7a6ad8;
$color_5: rgba(250, 250, 250, 0.75);
$font-family_1: 'Poppins', sans-serif;
$font-family_2: 'Poppins';
$background-color_1: #fff;
$background-color_2: #7a6ad8;
$background-color_3: rgba(0,0,0,0.99);
$background-color_4: transparent;
$background-color_5: rgba(255, 255, 255, 0.10);
$background-color_6: #f1f0fe;
$background-color_7: rgba(255, 255, 255, 0.2);
$background-color_8: rgba(255, 255, 255, 0.5);
$background-color_9: rgba(250, 250, 250, 0.95);
$background-color_10: rgba(122, 106, 216, 0.95);
$background-color_11: rgba(249, 235, 255, 0.15);

/* 
---------------------------------------------
font & reset css.
--------------------------------------------- 
*/
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900";
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/
@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}
/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
About Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Courses Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Facts Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Team Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Testimonials Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Events Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Contact Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/
/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/
html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: $font-family_1;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family_1;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: $font-family_1;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family_1;
    overflow-x: hidden;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    pre {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
    }
}

span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

applet {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

object {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: $color_1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

h2 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: $color_1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

h3 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: $color_1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

h4 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: $color_1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

h5 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: $color_1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: $color_1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    line-height: 28px;
    color: $color_2;
}

blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none !important;
}

abbr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

acronym {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

address {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

big {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

cite {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

code {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

del {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

dfn {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

em {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

font {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: 100%;
    overflow: hidden;
}

ins {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

kbd {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

q {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

s {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

samp {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

strike {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

strong {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

sub {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

sup {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

tt {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

b {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

u {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

center {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

dl {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

dt {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

dd {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

ol {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 0px;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

header {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
}

nav {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
}

section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
}

article {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
}

aside {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
}

footer {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
    margin-top: 150px;
    position: relative;
    background-color: $background-color_2;
    vertical-align: middle;
    min-height: 150px;
    border-radius: 150px 150px 0px 0px;

    p {
        text-align: center;
        line-height: 150px;
        color: $color_3;
        font-weight: 400;

        a {
            color: $color_3;
            transition: all .3s;
            position: relative;
            z-index: 3;

            &:hover {
                opacity: 0.75;
            }
        }
    }

    &::before {
        background: url(../images/contact-dec-01.png);
        position: absolute;
        left: 30px;
        transform: rotate(180deg);
        opacity: 1;
        bottom: 0;
        width: 318px;
        height: 119px;
        content: '';
        z-index: 2;
    }
}

figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#top-menu {
    background: #4a4a4a;
}

.clearfix {
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    display: inline-block;
}

html[xmlns] {
    .clearfix {
        display: block;
    }
}

* {
    html {
        .clearfix {
            height: 1%;
        }
    }

    box-sizing: border-box;
}

hgroup {
    display: block;
}

&::selection {
    background: #7a6ad8;
    color: $color_3;
}

&::-moz-selection {
    background: #7a6ad8;
    color: $color_3;
}

.section {
    padding-top: 30px;
    margin-top: 120px;
}

.section-heading {
    margin-bottom: 60px;

    h2 {
        font-size: 36px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 20px 0;
        line-height: 44px;

        em {
            color: $color_4;
            font-style: normal;
        }
    }

    h6 {
        color: $color_4;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.main-button {
    a {
        display: inline-block;
        background-color: $background-color_1;
        color: $color_4;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        line-height: 40px;
        padding: 0px 25px;
        border-radius: 20px;
        transition: all .3s;

        &:hover {
            background-color: $background-color_2;
            color: $color_3;
        }
    }
}

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color_3;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: transparent;

    .dot {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 12px;
        left: 15px;
        background: #7a6ad8;
        border-radius: 50%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation: dot 2.8s infinite;
        animation: dot 2.8s infinite;
    }

    .dots {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        margin-top: 12px;
        margin-left: 31px;
        -webkit-animation: dots 2.8s infinite;
        animation: dots 2.8s infinite;

        span {
            display: block;
            float: left;
            width: 16px;
            height: 16px;
            margin-left: 16px;
            background: #7a6ad8;
            border-radius: 50%;
        }
    }
}

.background-header {
    background-color: $background-color_2 !important;
    border-radius: 0px 0px 25px 25px;
    height: 80px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15) !important;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;

    .main-nav {
        .logo {
            margin-top: 18px;
        }

        #search {
            margin-top: 18px;
        }

        .nav {
            margin-top: 20px;

            li {
                height: 80px;
                line-height: 80px;

                &:hover {
                    a {
                        opacity: 0.8;
                    }
                }

                a.active {
                    color: $color_3;
                    background-color: $background-color_5;
                    opacity: 1;
                }
            }
        }

        .menu-trigger {
            top: 20px;
        }

        .menu-trigger.active {
            span {
                &:before {
                    background-color: $background-color_1;
                }

                &:after {
                    background-color: $background-color_1;
                }
            }
        }
    }
}

.header-area {
    position: absolute;
    background-color: $background-color_4;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;

    .main-nav {
        background: transparent;
        display: flex;

        .logo {
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            display: inline-block;

            h1 {
                font-size: 36px;
                text-transform: uppercase;
                color: $color_3;
                font-weight: 600;
                margin-right: 20px;
                padding-right: 20px;
                border-right: 1px solid rgba(250, 250, 250, 0.3);
            }
        }

        #search {
            position: relative;

            input {
                background-color: $background-color_5;
                height: 44px;
                width: 250px;
                border-radius: 23px;
                border: none;
                color: $color_3;
                font-size: 14px;
                font-weight: 300;
                padding: 0px 20px 0px;

                &::placeholder {
                    color: $color_5;
                }
            }

            i {
                position: absolute;
                color: $color_3;
                right: 20px;
                top: 15px;
                font-size: 16px;
            }
        }

        ul.nav {
            border-radius: 0px 0px 25px 25px;
            flex-basis: 100%;
            margin-right: 0px;
            justify-content: right;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            position: relative;
            z-index: 999;
        }

        .nav {
            li {
                &:last-child {
                    padding-right: 0px;
                }

                padding-left: 5px;
                padding-right: 5px;
                height: 40px;
                line-height: 40px;

                a {
                    display: block;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 20px;
                    font-weight: 300;
                    font-size: 14px;
                    height: 40px;
                    line-height: 40px;
                    text-transform: capitalize;
                    color: $color_3;
                    -webkit-transition: all 0.4s ease 0s;
                    -moz-transition: all 0.4s ease 0s;
                    -o-transition: all 0.4s ease 0s;
                    transition: all 0.4s ease 0s;
                    border: transparent;
                    letter-spacing: .25px;
                }

                &:hover {
                    a {
                        opacity: 0.8;
                    }
                }

                a.active {
                    color: $color_3;
                    background-color: $background-color_5;
                    opacity: 1;
                }
            }
        }

        .menu-trigger {
            cursor: pointer;
            position: absolute;
            top: 33px;
            width: 32px;
            height: 40px;
            text-indent: -9999em;
            z-index: 99;
            right: 20px;
            display: none;

            span {
                -moz-transition: all 0.4s;
                -o-transition: all 0.4s;
                -webkit-transition: all 0.4s;
                transition: all 0.4s;
                background-color: $background-color_1;
                display: block;
                position: absolute;
                width: 30px;
                height: 2px;
                left: 0;
                top: 16px;

                &:before {
                    -moz-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    transition: all 0.4s;
                    background-color: $background-color_1;
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    left: 0;
                    -moz-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    transition: all 0.4s;
                    background-color: $background-color_1;
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    left: 0;
                    width: 75%;
                    content: "";
                    -moz-transform-origin: 33% 100%;
                    -ms-transform-origin: 33% 100%;
                    -webkit-transform-origin: 33% 100%;
                    transform-origin: 33% 100%;
                    top: -10px;
                    z-index: 10;
                }

                &:after {
                    -moz-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    transition: all 0.4s;
                    background-color: $background-color_1;
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    left: 0;
                    -moz-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    transition: all 0.4s;
                    background-color: $background-color_1;
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    left: 0;
                    width: 75%;
                    content: "";
                    -moz-transform-origin: 33% 0;
                    -ms-transform-origin: 33% 0;
                    -webkit-transform-origin: 33% 0;
                    transform-origin: 33% 0;
                    top: 10px;
                }
            }
        }

        .menu-trigger.active {
            span {
                background-color: $background-color_4;
                width: 100%;

                &:before {
                    background-color: $background-color_4;
                    width: 100%;
                    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
                    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
                    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
                    transform: translateY(6px) translateX(1px) rotate(45deg);
                    background-color: $background-color_1;
                }

                &:after {
                    background-color: $background-color_4;
                    width: 100%;
                    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
                    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
                    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
                    transform: translateY(-6px) translateX(1px) rotate(-45deg);
                    background-color: $background-color_1;
                }
            }
        }
    }
}

.header-area.header-sticky {
    .nav {
        li {
            a.active {
                color: $color_3;
            }
        }
    }
}

.visible {
    display: inline !important;
}

.main-banner {
    background-image: url(../images/banner-bg.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .item-1 {
        background-image: url(../images/banner-item-01.jpg);
    }

    .item-2 {
        background-image: url(../images/banner-item-02.jpg);
    }

    .item-3 {
        background-image: url(../images/banner-item-03.jpg);
    }

    .item {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 25px;
        padding: 100px 100px;
        margin-left: 130px;

        span.category {
            background-color: $background-color_2;
            color: $color_3;
            font-size: 14px;
            text-transform: uppercase;
            padding: 5px 15px;
            border-radius: 20px;
            display: inline-block;
            margin-bottom: 50px;
        }

        h2 {
            font-size: 48px;
            font-weight: 700;
            color: $color_3;
            line-height: 70px;
            width: 60%;
            margin-bottom: 40px;
        }

        p {
            color: $color_3;
            width: 65%;
        }

        .buttons {
            display: flex;
            margin-top: 50px;

            .main-button {
                margin-right: 30px;

                a {
                    font-size: 14px;
                    color: $color_4;
                    background-color: $background-color_1;
                    display: inline-block;
                    height: 50px;
                    line-height: 50px;
                    padding: 0px 25px;
                    border-radius: 25px;
                    font-weight: 500;
                }
            }

            .icon-button {
                i {
                    color: $color_4;
                    background-color: $background-color_1;
                    display: inline-block;
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 50%;
                    margin-right: 10px;
                    font-size: 16px;
                }

                a {
                    color: $color_3;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    .owl-nav {
        position: absolute;
        max-width: 1320px;
        bottom: 23px;
        left: 0;
        text-align: right;

        .owl-prev {
            i {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 24px;
                display: inline-block;
                color: $color_3;
                background-color: $background-color_7;
                border-radius: 50%;
                opacity: 1;
                transition: all .3s;
                position: absolute;
                bottom: 65px;

                &:hover {
                    opacity: 1;
                    background-color: $background-color_8;
                }
            }
        }

        .owl-next {
            i {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 24px;
                display: inline-block;
                color: $color_3;
                background-color: $background-color_7;
                border-radius: 50%;
                opacity: 1;
                transition: all .3s;

                &:hover {
                    opacity: 1;
                    background-color: $background-color_8;
                }
            }
        }
    }
}

.services {
    .service-item {
        &:hover {
            .icon {
                img {
                    margin-top: -10px;
                }
            }
        }

        position: relative;
        margin-top: 95px;

        .icon {
            width: 190px;
            height: 190px;
            display: inline-block;
            text-align: center;
            line-height: 190px;
            background-color: $background-color_2;
            border-radius: 50%;
            position: absolute;
            right: 0;
            top: -95px;

            img {
                max-width: 86px;
                transition: all .2s;
            }
        }

        .main-content {
            border-radius: 25px;
            padding: 80px 30px 50px 30px;
            background-color: $background-color_6;
            margin-bottom: 30px;
            margin-right: 80px;
            transition: all .4s;
        }

        h4 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
            line-height: 30px;
            transition: all .4s;
        }

        p {
            color: $color_2;
            margin-bottom: 25px;
        }
    }
}

.about-us {
    position: relative;
    padding: 0px;
    margin-top: 130px;

    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 84%;
        height: 100%;
        background-color: $background-color_6;
        content: '';
        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;
    }

    .section-heading {
        margin-left: 60px;
        margin-bottom: 0px;

        .main-button {
            margin-top: 50px;
        }
    }
}

.accordion {
    margin-top: -40px;
    margin-bottom: -40px;
    background-color: $background-color_2;
    border-radius: 40px;
    padding: 80px 50px 50px 50px;
}

.accordion-item {
    background-color: $background-color_1;
    border-radius: 40px !important;
    margin-bottom: 30px;
    border: none;

    .accordion-button {
        outline: none;
        box-shadow: none;
        border-radius: 40px !important;
    }
}

.accordion-button {
    &:not(.collapsed) {
        color: $color_4;
        background-color: $background-color_1;

        &::after {
            background-image: none;
            line-height: 32px;
            content: '-';
        }
    }

    &::after {
        font-size: 18px;
        font-weight: 500;
        background-image: none;
        content: '+';
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        background-color: $background-color_2;
        color: $color_3;
    }
}

h2.accordion-header {
    button {
        padding: 15px 25px;
        font-family: $font-family_2;
        font-size: 16px;
        font-weight: 600;
    }
}

.accordion-body {
    padding: 0px 25px 30px 25px;
    font-size: 14px;
    line-height: 28px;
    color: $color_2;
}

.courses {
    margin-top: 160px;
}

.event_filter {
    text-align: center;
    background-color: $background-color_6;
    border-radius: 50px;
    padding: 15px 40px;
    list-style: none;
    margin: 0 auto 70px;
    max-width: max-content;

    li {
        display: inline-block;
        margin: 0px 20px;

        a {
            font-size: 14px;
            font-weight: 500;
            color: $color_1;
            transition: all .3s;

            &:hover {
                color: $color_4;
            }
        }

        .event_filter {
            li {
                a.is_active {
                    color: $color_4;
                }
            }
        }
    }
}

.events_item {
    .thumb {
        position: relative;
        border-radius: 25px;
        overflow: hidden;

        img {
            margin-bottom: -5px;
        }

        span.category {
            position: absolute;
            left: 30px;
            top: 30px;
            font-size: 14px;
            text-transform: uppercase;
            color: $color_4;
            background-color: $background-color_9;
            padding: 8px 20px;
            border-radius: 25px;
            font-weight: 500;
            display: inline-block;
        }

        span.price {
            position: absolute;
            right: -30px;
            top: -50px;
            background-color: $background-color_10;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            display: inline-block;
            transition: all .3s;

            h6 {
                margin-top: 72px;
                margin-left: 22px;
                font-size: 28px;
                text-transform: uppercase;
                color: $color_3;
                font-weight: 700;
            }

            em {
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                vertical-align: top;
            }
        }
    }

    background-color: $background-color_6;
    border-radius: 25px;
    margin-bottom: 30px;
    position: relative;
    justify-content: center;
    align-items: center;

    .down-content {
        padding: 20px 30px 25px 30px;

        span.author {
            color: $color_4;
            font-size: 15px;
            display: inline-block;
            margin-bottom: 6px;
        }

        h4 {
            font-size: 22px;
            font-weight: 600;
            transition: all .3s;
        }
    }

    &:hover {
        .down-content {
            h4 {
                color: $color_4;
            }
        }

        .thumb {
            span.price {
                transform: scale(1.2);
            }
        }
    }
}

.fun-facts {
    position: relative;
    padding: 120px 0px 80px 0px;
    overflow: hidden;

    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 95%;
        height: 100%;
        background-color: $background-color_2;
        content: '';
        border-top-right-radius: 500px;
        border-bottom-right-radius: 500px;
    }

    &:after {
        background: url(../images/contact-dec-01.png);
        position: absolute;
        left: 15%;
        opacity: 0.5;
        top: 0;
        width: 318px;
        height: 119px;
        content: '';
        z-index: 2;
    }

    .counter {
        text-align: center;
        margin-bottom: 40px;
    }

    h2 {
        color: $color_3;
        font-size: 48px;
        font-weight: 700;

        &::after {
            content: '+';
            margin-left: 5px;
        }
    }

    p {
        color: $color_3;
        font-size: 15px;
        font-weight: 500;
        margin-top: 15px;
    }
}

.team {
    margin-top: 100px;
    padding-top: 140px;
}

.team-member {
    position: relative;

    &:hover {
        img {
            top: -120px;
        }
    }

    img {
        max-width: 220px;
        border-radius: 50%;
        position: absolute;
        top: -110px;
        left: 50%;
        transform: translateX(-110px);
        transition: all .3s;
    }

    .main-content {
        border-radius: 25px;
        padding: 140px 30px 40px 30px;
        background-color: $background-color_6;
        text-align: center;

        span.category {
            color: $color_4;
            font-size: 15px;
        }

        h4 {
            font-size: 22px;
            font-weight: 600;
            margin-top: 8px;
            margin-bottom: 15px;
        }

        ul {
            li {
                display: inline-block;
                margin: 0px 2px;

                a {
                    background-color: $background-color_1;
                    color: $color_4;
                    display: inline-block;
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    transition: all .3s;

                    &:hover {
                        background-color: $background-color_2;
                        color: $color_3;
                    }
                }
            }
        }
    }
}

.testimonials {
    position: relative;
    padding: 80px 0px;
    margin-top: 150px;

    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 65%;
        height: 100%;
        background-color: $background-color_6;
        content: '';
        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;
    }

    .section-heading {
        margin-bottom: 0px;
        margin-left: 60px;
        vertical-align: middle;

        p {
            margin-top: 50px;
        }
    }

    .item {
        background-color: $background-color_2;
        border-radius: 25px;
        padding: 80px;

        p {
            font-size: 18px;
            line-height: 40px;
            color: $color_3;
            font-style: italic;
            font-weight: 300;
            margin-bottom: 40px;
        }

        img {
            border-radius: 50%;
            max-width: 100px;
            float: left;
            margin-right: 25px;
        }

        span {
            display: inline-block;
            margin-top: 20px;
            font-size: 15px;
            color: $color_3;
        }

        h4 {
            color: $color_3;
            font-size: 22px;
            font-weight: 600;
            margin-top: 8px;
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-5px);
        right: -25px;
        text-align: right;

        .owl-prev {
            i {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 24px;
                display: inline-block;
                color: $color_4;
                background-color: $background-color_1;
                border-radius: 50%;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
                opacity: 1;
                transition: all .3s;
                position: absolute;
                bottom: 65px;

                &:hover {
                    opacity: 1;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                }
            }
        }

        .owl-next {
            i {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 24px;
                display: inline-block;
                color: $color_4;
                background-color: $background-color_1;
                border-radius: 50%;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
                opacity: 1;
                transition: all .3s;

                &:hover {
                    opacity: 1;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}

.events {
    .section-heading {
        margin-bottom: 100px;
    }

    .item {
        background-color: $background-color_6;
        border-radius: 25px;
        position: relative;
        padding: 40px;
        margin-bottom: 96px;

        .image {
            position: relative;

            img {
                position: absolute;
                border-radius: 25px;
                max-width: 260px;
                left: 0;
                top: -70px;
            }
        }

        ul {
            li {
                display: inline-block;
                width: 17.5%;
                vertical-align: middle;

                &:first-child {
                    width: 35%;
                }

                &:nth-of-type(2) {
                    width: 28%;
                }

                span.category {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $color_4;
                    background-color: $background-color_1;
                    padding: 8px 20px;
                    border-radius: 25px;
                    font-weight: 500;
                    display: inline-block;
                    margin-bottom: 20px;
                }

                h4 {
                    font-size: 22px;
                    font-weight: 600;
                }

                span {
                    display: inline-block;
                    font-size: 14px;
                    color: $color_2;
                    margin-bottom: 10px;
                }

                h6 {
                    font-size: 16px;
                    color: $color_4;
                    font-weight: 600;
                }
            }
        }

        a {
            position: absolute;
            right: 0;
            top: 22px;
            background-color: $background-color_2;
            width: 60px;
            height: 120px;
            display: inline-block;
            text-align: center;
            line-height: 120px;
            font-size: 18px;
            z-index: 1;
            color: $color_3;
            border-radius: 60px 0px 0px 60px;
        }
    }
}

.contact-us {
    margin-top: 80px;
    position: relative;
    padding: 50px 0px;

    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 65%;
        height: 100%;
        background-color: $background-color_6;
        content: '';
        border-top-right-radius: 500px;
        border-bottom-right-radius: 500px;
    }

    .section-heading {
        margin-right: 110px;
        margin-bottom: 0px;

        p {
            margin-top: 50px;
        }
    }

    .special-offer {
        margin-top: 50px;
        background-color: $background-color_1;
        border-radius: 25px;
        padding: 30px 120px;
        display: inline-block;
        position: relative;

        span.offer {
            position: absolute;
            left: 0;
            top: 0;
            background-color: $background-color_2;
            width: 80px;
            padding: 30px 8px;
            line-height: 25px;
            height: 120px;
            border-radius: 15px 60px 60px 15px;
            display: inline-block;
            text-align: center;
            color: $color_3;
            font-size: 16px;
            text-transform: uppercase;
            text-align: left;

            em {
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
            }
        }

        h6 {
            font-size: 15px;
            color: $color_2;
            text-transform: uppercase;
            font-weight: 400;
            margin-bottom: 15px;

            em {
                font-style: normal;
                color: $color_4;
                font-weight: 600;
            }
        }

        h4 {
            font-size: 22px;
            font-weight: 600;

            em {
                font-style: normal;
                color: $color_4;
            }
        }

        a {
            position: absolute;
            right: 30px;
            top: 35px;
            width: 50px;
            height: 50px;
            display: inline-block;
            text-align: center;
            line-height: 50px;
            background-color: $background-color_2;
            color: $color_3;
            border-radius: 50%;
        }
    }

    .contact-us-content {
        border-radius: 25px;
        padding: 80px;
        background-color: $background-color_2;
        position: relative;
        z-index: 1;

        &::before {
            background: url(../images/contact-dec-01.png);
            position: absolute;
            left: 50%;
            transform: translateX(-149px);
            opacity: 0.5;
            top: 0;
            width: 318px;
            height: 119px;
            content: '';
            z-index: 2;
        }

        &::after {
            background: url(../images/contact-dec-02.png);
            position: absolute;
            right: 0;
            bottom: 0;
            width: 183px;
            height: 149px;
            content: '';
            z-index: 2;
        }
    }
}

#contact-form {
    input {
        width: 100%;
        height: 50px;
        border-radius: 25px;
        background-color: $background-color_11;
        border: none;
        outline: none;
        font-weight: 300;
        padding: 0px 20px;
        font-size: 14px;
        color: $color_3;
        margin-bottom: 30px;
        position: relative;
        z-index: 3;

        &::placeholder {
            color: $color_3;
        }
    }

    textarea {
        width: 100%;
        height: 120px;
        border-radius: 25px;
        background-color: $background-color_11;
        border: none;
        outline: none;
        font-weight: 300;
        padding: 20px;
        font-size: 14px;
        color: $color_3;
        margin-bottom: 30px;
        position: relative;
        z-index: 3;

        &::placeholder {
            color: $color_3;
        }
    }

    button {
        border: none;
        height: 50px;
        font-size: 14px;
        font-weight: 600;
        background-color: $background-color_1;
        padding: 0px 25px;
        border-radius: 25px;
        color: $color_4;
        transition: all .4s;
        position: relative;
        z-index: 3;

        &:hover {
            opacity: 0.8;
        }
    }
}

.contact-us-content {
    .more-info {
        text-align: center;
        background: rgb(85,0,227);
        background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%);
        border-radius: 0px 0px 23px 23px;
        padding: 45px 30px 15px 30px;

        .info-item {
            text-align: center;
            margin-bottom: 30px;
        }

        i {
            font-size: 32px;
            color: $color_3;
            margin-bottom: 15px;
        }

        h4 {
            a {
                color: $color_3;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header-area {
        .main-nav {
            .nav {
                li {
                    padding-left: 2px;
                    padding-right: 2px;

                    a {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

                li.has-sub {
                    &:after {
                        right: 15px;
                    }
                }
            }

            #search {
                input {
                    width: 200px;
                }
            }
        }
    }

    .fun-facts {
        &:before {
            width: 95%;
        }
    }
}

@media (max-width: 767px) {
    .background-header {
        .main-nav {
            .nav {
                background-color: $background-color_6;

                li {
                    a {
                        line-height: 50px;
                        height: 50px;
                        font-weight: 400;
                        color: $color_1;
                        background-color: $background-color_6;
                        border-radius: 0px 0px 25px 25px;
                    }

                    border-top: 1px solid #ddd;
                    background-color: $background-color_6;
                    height: 50px;
                    border-radius: 0px 0px 25px 25px;

                    &:last-child {
                        border-radius: 0px 0px 25px 25px;
                    }
                }
            }

            .logo {
                top: 0px;
            }

            .border-button {
                top: 0px !important;
            }
        }
    }

    .header-area {
        .main-nav {
            .nav {
                background-color: $background-color_6;
                height: auto;
                flex-basis: 100%;
                float: none;
                width: 100%;
                display: none;
                -webkit-transition: all 0s ease 0s;
                -moz-transition: all 0s ease 0s;
                -o-transition: all 0s ease 0s;
                transition: all 0s ease 0s;
                margin-left: 0px;

                li {
                    a {
                        line-height: 50px;
                        height: 50px;
                        font-weight: 400;
                        color: $color_1;
                        background-color: $background-color_6;
                        border-radius: 0px 0px 25px 25px;
                    }

                    border-top: 1px solid #ddd;
                    background-color: $background-color_6;
                    height: 50px;
                    border-radius: 0px 0px 25px 25px;
                    width: 100%;
                    background: #fff;
                    padding-left: 0px !important;
                    padding-right: 0px !important;

                    &:last-child {
                        border-radius: 0px 0px 25px 25px;
                    }

                    &:first-child {
                        border-top: 1px solid #eee;
                    }
                }
            }

            .logo {
                position: absolute;
                left: 30px;
                top: 0px;

                h1 {
                    border-right: none;
                }
            }

            .border-button {
                position: absolute;
                top: 15px;
                right: 70px;
            }

            overflow: hidden;
        }

        background-color: $background-color_4;
        padding: 0px 15px;
        height: 80px;
        box-shadow: none;
        text-align: center;
        top: 0px;

        .container {
            padding: 0px;
        }

        .logo {
            margin-left: 0px;
            margin-top: 30px;
        }

        .menu-trigger {
            display: block !important;
        }
    }

    .header-area.header-sticky {
        .nav {
            li {
                a {
                    &:hover {
                        color: $color_4 !important;
                        opacity: 1;
                    }
                }

                a.active {
                    color: $color_4 !important;
                    opacity: 1;
                }
            }

            li.search-icon {
                a {
                    width: 100%;
                }
            }

            margin-top: 100px !important;
        }
    }

    .background-header.header-sticky {
        .nav {
            margin-top: 80px !important;
        }
    }

    .main-banner {
        .item {
            padding: 80px 30px 120px 30px !important;
        }

        .owl-nav {
            left: 30px !important;
        }
    }

    .event_filter {
        padding: 15px 20px;

        li {
            display: inline-block;
            margin: 0px 10px;
        }
    }
}

@media (max-width: 992px) {
    .header-area {
        .main-nav {
            #search {
                input {
                    display: none;
                }

                i {
                    display: none;
                }
            }

            .logo {
                h1 {
                    font-size: 34px;
                }

                border-right: none;
            }
        }
    }

    .main-banner {
        padding-top: 100px;

        .item {
            padding: 100px 60px 140px 60px;
            margin-left: 0px;
            text-align: center;

            h2 {
                width: 100%;
                font-size: 36px;
                line-height: 50px;
            }

            p {
                width: 100%;
            }

            .buttons {
                display: inline-block;
                text-align: center;

                .main-button {
                    margin-right: 0px;
                    margin-bottom: 30px;
                }
            }
        }

        .owl-nav {
            left: 50% !important;
            transform: translateX(-60px) !important;
            bottom: 60px;

            .owl-prev {
                i {
                    bottom: 0px;
                }
            }

            .owl-next {
                i {
                    bottom: 0px;
                    position: absolute;
                    left: 65px;
                }
            }
        }
    }

    .services {
        margin-top: 80px;

        .service-item {
            .icon {
                width: 170px;
                height: 170px;
                line-height: 170px;
            }
        }
    }

    .about-us {
        margin-top: 100px;

        .section-heading {
            margin-left: 0px;
            margin-top: 120px;

            p {
                margin-top: 30px;
            }

            .main-button {
                margin-top: 30px;
            }
        }

        &::before {
            display: none;
        }

        .main-button {
            a {
                background-color: $background-color_2;
                color: $color_3;
            }
        }
    }

    .accordion {
        padding: 40px 25px 10px 25px;
    }

    .testimonials {
        &::before {
            display: none;
        }

        .section-heading {
            p {
                margin-top: 30px;
            }

            margin-left: 0px;
            margin-top: 40px;
        }

        margin-top: -50px;
        padding: 0px;

        .item {
            padding: 40px 40px 60px 40px;

            h4 {
                font-size: 17px;
            }

            img {
                margin-right: 15px;
            }
        }

        .owl-nav {
            display: none;
        }
    }

    .contact-us {
        &::before {
            display: none;
        }

        .section-heading {
            p {
                margin-top: 30px;
            }

            margin-right: 0px;
        }

        padding-top: 20px;

        .special-offer {
            background-color: $background-color_6;
            margin-bottom: 60px;
            padding: 34px 30px 34px 100px;
            width: 100%;

            h4 {
                font-size: 17px;
            }

            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                top: 15px;
                right: 15px;
            }
        }

        .contact-us-content {
            padding: 30px;
        }
    }

    .courses {
        margin-top: 100px;
    }

    .event_filter {
        ul {
            li {
                display: block;
                margin: 12px 5px;
            }
        }
    }

    .fun-facts {
        margin-top: 70px;

        &::before {
            width: 95%;
        }
    }

    .team {
        margin-top: 160px;
    }

    .team-member {
        margin-bottom: 140px;
    }

    .events {
        margin-top: 80px;

        .item {
            margin-bottom: 66px;

            .image {
                img {
                    position: relative;
                    max-width: 100%;
                }
            }

            ul {
                margin-top: -40px;

                li {
                    &:first-child {
                        width: 100% !important;
                        margin-bottom: 30px;
                        padding-bottom: 30px;
                        border-bottom: 1px solid #ddd;
                    }

                    &:nth-child(2) {
                        width: 40% !important;
                    }

                    display: inline-block;
                    width: 28% !important;

                    &:last-child {
                        text-align: right;
                    }

                    h6 {
                        font-size: 14px;
                    }
                }
            }

            a {
                bottom: 150px;
                top: auto;
            }
        }
    }

    footer {
        margin-top: 30px;
    }
}
